* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    margin-bottom: 100px;
}

body,
input {
    font-family: "Poppins", sans-serif;
}

body::before {
    content: "";
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

.page {
    margin: auto;
    width: 750px;
}

header {
    width: 417px;
    margin-top: 140px;
}

header h1 {
    font-family: "Staatliches", cursive;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #ffffff;

    margin-bottom: 18px;
}

header p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #ffffff;

    margin-bottom: 58px;
}

form {
    background: #ffffff;
    border-radius: 20px 20px 0 0;

    padding: 64px;

    display: flex;
    flex-direction: column;

    gap: 31px;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
}

.fieldset-wrapper input {
    display: flex;
}

fieldset legend {
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #535971;

    width: 100%;
    border-bottom: 1px solid #e6e6f0;
    padding-bottom: 8px;
    margin-bottom: 33px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper [type="password"] {
    margin-bottom: 0;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4e4958;

    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 9px;

    font-size: 12px;
    line-height: 20px;
    color: #a9a7af;
}

.input-wrapper label span:hover {
    color: #5a5764;
}

.input-wrapper input {
    background: #fafafc;
    border: 1px solid #e6e6f0;
    border-radius: 8px;

    height: 56px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;

    color: #6c6a71;
}

.display-div {
    display: flex;
    gap: 22px;
}

#name-info {
    width: 300px;
}

#last-name-info {
    width: 300px;
}

.field-1 input {
    margin-bottom: 20px;
}

h2 {
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #535971;
    margin-bottom: 8px;
}

.col-1,
.col-2 {
    display: flex;
}

.col-1 > div:nth-child(1) {
    width: 100%;
    margin-right: 32px;
}

.col-1 > div:nth-child(2) {
    margin-right: 10px;
}

.col-2 > div:nth-child(1) {
    width: 100%;
    margin-right: 32px;
}

.col-2 > div:nth-child(2) {
    margin-right: 10px;
}

.second {
    margin-top: 16px;
}

footer {
    background: #535971;
    width: 750px;
    height: 160px;
    border-radius: 0 0 20px 20px;

    padding: 52px 71px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    width: 608px;
    height: 55.65px;
    border: none;
    outline: none;

    background: #ff5374;
    border-radius: 20px;

    font-family: "Staatliches", cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

footer .button:hover {
    background: #e43759;
}

input:invalid {
    border: 1px solid #ff1010;
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}